<h2>Nos films</h2>

<div class="search" appHover>
    <input type="search" #searchInput (keyup)="search(searchInput.value)" placeholder="Rechercher ...">
</div>

<div class="movies" appHover>
    <div class="movie"
        *ngFor="let movie of movies"
        [routerLink]="'/film/' + movie.id">
        <img [src]="movie.picture" alt="Affiche du film">
            
        <h3>
            <span class="badge" *ngIf="movie.rate >= 4">Top</span>
            {{ movie.title|dot }}
        </h3>
    </div>
</div>

<p *ngIf="movies.length == 0">
    Aucun film disponible
</p>
